[submodule "thirdparties/benchmark"]
	path = thirdparties/benchmark
	url = https://github.com/google/benchmark.git
[submodule "thirdparties/jsoncpp"]
	path = thirdparties/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "thirdparties/googletest"]
	path = thirdparties/googletest
	url = https://github.com/google/googletest.git
	branch = master
[submodule "thirdparties/pybind11"]
	path = thirdparties/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "thirdparties/spdlog"]
	path = thirdparties/spdlog
	url = https://github.com/gabime/spdlog
[submodule "thirdparties/range-v3"]
	path = thirdparties/range-v3
	url = https://github.com/ericniebler/range-v3
